[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ranger"]
	path = ranger
	url = https://github.com/imbs-hl/ranger
[submodule "survivalsvm"]
	path = survivalsvm
	url = https://github.com/imbs-hl/survivalsvm
